.list-element {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
li {
  list-style: none;
}
.input-element {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  outline: none;
  opacity: 0.85;
  font-size: 1.2rem;
}

.name-ctn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 0;
}

.name-style {
  font-weight: bold;
  font-size: 3rem;
}
.button-style {
  margin-left: 5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.statsAndChart-ctn {
  display: flex;
  justify-content: flex-start;
}
.chart-global-ctn {
  display: grid;
}
.chart-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-size {
  height: 500px;
  width: 500px;
}

.chart-title {
  transform: translate(-15px, 25px);
  font-size: 20px;
  font-weight: 700;
}

.stats-details {
  display: block;
  /* align-items: center; */
  width: fit-content;
}

.stats-summary-text {
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease-in;
}

.spacer {
  margin-bottom: 1rem;
}
